auto-save-list
backups
elpa
cv/auto/cveng.el
emacs.desktop
init.elc
recentf
secrets
session*
Maildir
mail
.tutor
.mc-list.el
auto
**auto
_site
.jekyll-metadata
.sass-cache

*.out
*.aux
*.log
**.log
cv/*.log
*.el
**.toc
**.bbl
**-blg
**.idx
**.ind
**.fls
**.ilg
**.blg
**.nav
**.snm
**.fdb_latexmk
