<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" type="text/css" href="{{ 'assets/css/main.css' | relative_url }}">
  <meta name="referrer" content="no-referrer">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' |
                                               relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" href="{{ '/assets/favicon-16x16.png' | relative_url }}" sizes="16x16">
  <link rel="icon" href="{{ '/assets/favicon-32x32.png' | relative_url }}" sizes="32x32">
  <link rel="icon" href="{{ '/assets/android-chrome-192x192.png' | relative_url }}" sizes="192x192">
  {% include katex.html %}
</head>
